@import url ("file:///C:/Users/admin/Desktop/%D0%B2%D0%B5%D0%B1%20%D0%B4%D0%B5%D0%B7%D0%B0%D0%B9%D0%BD/%D1%82%D0%B1sdf.html")
body{ background-color: limegreen; }
p{
	font-size: 50px;
	font-family:  "Kablammo", system-ui;
	text-align: center;
	color: roy;
}